 <!DOCTYPE html>
<html>
<head>
<title>Perdefined Global functions</title>
</head>
<body>
<h1>Original Value : {{index .Words 2 }} </h1>
<h1>Original Value : {{index .Words 0 }} </h1>
<h1>Original Value : {{index .Words 3 }} </h1>
<h1>Original Value : {{index .Words 1 }} </h1>
<h1>{{ .Lname}}</h1>

</body>
</html> 