 <!DOCTYPE html>
<html>
<head>
<title>Perdefined Global functions</title>
</head>
<body>
<h1>Original Value : {{index . 2 }} </h1>
<h1>Original Value : {{index . 0 }} </h1>
<h1>Original Value : {{index . 3 }} </h1>
<h1>Original Value : {{index . 1 }} </h1>

</body>
</html> 