 <!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
<h1>Current Time without format : {{ .}} </h1>
<h1>Current Time with format : {{dmy .}} </h1>
<h1>Current Hour with format : {{cHour .}} </h1>
</body>
</html> 